<div class="row">
  <div class="input-field col s12">
    <input [(ngModel)] = "size" id="first_name2" type="text" class="validate">
    <label class="active" for="first_name2">Количество статьей</label>
  </div>
  <a class="waves-effect waves-light btn" (click)="onChange()">Изменить</a>
</div>
