
  <p class="p2"> {{user.name}}</p>тзь
  <div class="flex"><p class="p4">Вид статьи&nbsp;&nbsp;&nbsp;</p><p class="p1">{{user.author}}  -  {{ user.date | slice:0:10 | date}}&nbsp;&nbsp;&nbsp;&nbsp;</p><a class="alert-link" href="#collapseExample" role="button" data-toggle="modal" data-target="#exampleModalCenter">
    Редактирование
  </a></div>

<form class="needs-validation" novalidate>
<!-- Modal -->

<div id = "exampleModalCenter" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;" class="modal-title" id="exampleModalLongTitle">Редактирование статьи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <td> <label for="validationCustom01">Автор</label>
          <input type="text" class="form-control" value="{{user.author}}" id="validationCustom01" placeholder="Автор"  required>
          <div class="valid-feedback">
       Введите значение
      </div>
          </td><td>&nbsp;&nbsp;&nbsp;</td><td><label for="validationCustom04">Рубрика</label>
          <input type="text" class="form-control" id="validationCustom04" placeholder="вид статьи" required>
            <div class="valid-feedback">
       Введите значение
      </div></td><td>&nbsp;&nbsp;&nbsp;</td><td>
          <label for="exampleInputPassword1">Дата публикации</label>
          <input type="date" class="form-control" id="example30" value="{{ user.date | slice:0:10}}">
        </td>



       <a> <div class="form-group">
          <label for="exampleFormControlTextarea1">Навзание статьи</label>
          <textarea class="form-control" id="exampleFormControlTextarea" rows="1" value="{{user.name}}"></textarea>
          <label for="exampleFormControlTextarea1">Текст статьи</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{user.about}}" ></textarea>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{user.active}}"  id="invalidCheck" required checked>
            <label class="form-check-label" for="defaultCheck1">
              Активная статья
            </label>
            <div class="invalid-feedback">
      Ошибка галки
      </div>
          </div>
        </div></a>
      </div>

      <div class="modal-footer">

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
      </div>
    </div>
  </div>
</div>
</form>
<p class="p3">Введение</p>
<p class="p5">{{user.about}}</p>
<p class="p5">Статья́ — это жанр журналистики, в котором автор ставит задачу проанализировать общественные ситуации, процессы, явления, прежде всего с точки зрения закономерностей, лежащих в их основе.

</p><p class="p6">Такому жанру как статья присуща шири практических обобщений, глубокий анализ фактов и явлений, четкая социальная направленность[источник не указан 3087 дней]. В статье автор рассматривает отдельные ситуации как часть более широкого явления. Автор аргументирует и выстраивает свою позицию через систему фактов.

</p>В статье выражается развернутая обстоятельная аргументированная концепция автора или редакции по поводу актуальной социологической проблемы. Также в статье журналист обязательно должен интерпретировать факты (это могут быть цифры, дополнительная информация, которая будет правильно расставлять акценты и ярко раскрывать суть вопроса).

Отличительным аспектом статьи является её готовность. Если подготавливаемый материал так и не был опубликован (не вышел в тираж, не получил распространения), то такой труд относить к статье некорректно. Скорее всего данную работу можно назвать черновиком или заготовкой. Поэтому целью любой статьи является распространение содержащейся в ней информации.




<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
