.p1{
  font-family: Georgia, 'Times New Roman', Times, serif; /* Гарнитура шрифта */
  margin-bottom: 10px;
  font-size: 10px;
  color: gray ;
}

.p2{
font-family: Arial, Helvetica, sans-serif; /* Гарнитура шрифта */
   font-weight: bold;
   
  font-size: 20px;
}
.p3{font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif ; /* Гарнитура шрифта */
font-weight: bold;
  font-size: 20px;
  

}

.p4{
  font-family: Arial, Helvetica, sans-serif; /* Гарнитура шрифта */
 margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}
.p5{
    font-size: 13px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.p6{
  font-size: 13px;
   font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.alert-link{
   margin-bottom: 10px;
  font-size: 10px;
}
.sh{
  display: inline-block;
}
.flex {
   display: flex;
 
}
div{
   font-size: 13px;
   font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
   color: black;
}