
<nav>
  <nav class="navbar navbar-dark bg-dark">
    <a class="a1" href="#" >Интересные статьи</a>
   
      <!--a routerLink="/">Статьи</a>
      <a routerLink="/setup">О нас</a-->
 
</nav>
</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>


