.card-content {
  height: 130px;
}

.marked {
  front-weight: hold;
  color: red!important;
}

.hovered {
transform:  scale(1.05);
box-shadow: 0 0 10px rgba(0, 0, 0, .5);
transition: .5s all;
z-index: 10;
}
.p1{
   font-family: Arial, Helvetica, sans-serif; /* Гарнитура шрифта */
   // src: local(pompadur), url(fonts/pompadur.ttf); /* Для остальных браузеров */
  color: gray;
  margin-bottom: 10px;
  font-size: 10px;
}
.ui{
  text-decoration: underline;
  color: gray;
}
a{
  color:black;
}

.p4{
font-family: Arial, Helvetica, sans-serif;
  //font-weight: bold;
  color: red;
}
.p5{
   font-family: Arial, Helvetica, sans-serif; /* Гарнитура шрифта */
   // src: local(pompadur), url(fonts/pompadur.ttf); /* Для остальных браузеров */
  font-size: 10px;
}