<div class="container-fluid">
  <form novalidate [formGroup]="signUpForm" (submit)="submitForm($event);">
    <div class="form-group">
      <label>Название статьи</label>
      <input type="text" class="form-control" formControlName="user_name">
    </div>
    <validator-message [field]="signUpForm.get('user.name')"></validator-message>

    <div class="clearfix text-right">
      <button class="btn btn-success btn-lg" type="submit">Сохранить</button>
    </div>
  </form>

  <div *ngIf="userData">
    <hr>
    <h3>Был сохранен</h3>
    <pre>{{userData|json:2}}</pre>
  </div>
</div>
