
<div class="row">


  <!--select id="empName" [(ngModel)]="selectedEmployee" (ngModelChange)="employeeSelected($event)">
    <option selected="selected" disabled>Employee Name...</option>
    <option *ngFor="let g of col" [value]="g.nomer">{{g.nomer}}</option>
  </select-->
  
<div class="collapse" id="collapseExample">
  
   <div class="input-field col s3">
		<input id="first_name2" class="form-control" [(ngModel)]="searchStr">
		<!--label for="first_name2">Поиск по имени</label-->
	</div>
  
</div>
<p>
  <!--button class="btn btn-primary" type="button" data-toggle="collapse"  data-target="#collapseExample"  aria-expanded="false" aria-controls="collapseExample">
  </button-->
  <img src="https://api.icons8.com/download/4419d1ec1dca6b200e6fb61ddefbe620131d2b66/iOS7/PNG/512/Very_Basic/search-512.png" width="25" 
   height="25" alt="Пример" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> 
 </p>
 <div class="collapse" id="collapseExample1">
  
   		<span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': false}"></span>
		<button class="btn waves-effect waves-light" type="submit" name="action" (click)="condition = !condition" [ngClass]="{ 'a': condition, 'b': !condition }">
      По алфавиту {{condition ? '' : 'A-B'}}
      
    </button>
  
</div>
&nbsp;
	<!-- class="input-field col s3">
		<input id="first_name2" class="form-control" [(ngModel)]="searchStr">
		<!--label for="first_name2">Поиск по имени</label>
	</div-->
	<!--button  class="btn waves-effect waves-light" type="submit" name="action"    (click)="onClick1()" >По Алфавиту
    <i class="material-icons right">send</i>
  </button-->
	<p style=" position: right ;">
    
    
		<span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': false}"></span>
		<button  style="position: absolute;" class="btn waves-effect waves-light" type="submit" name="action" (click)="condition = !condition" [ngClass]="{ 'a': condition, 'b': !condition }">
      По алфавиту {{condition ? '' : 'A-B'}}
      
    </button>

    <!--button class="btn waves-effect waves-light" type="submit" name="action" (click)="cond=!cond" [ngClass]="{ 'c': cond, 'd': !con }">
     ВСЕ СТАТЬИ
    </button-->
		
<div style="position: absolute; left: 60%;" class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1" (click)="cond = !cond" [ngClass]="{ 'c': cond, 'd': !cond }">
  <label class="custom-control-label" for="customCheck1">Показать все статьи</label>
</div>

</div>
  <hr>
<div class="row">

	<!--<app-user *ngFor="let u of users | search:searchStr " [user]="u" ng-repeat="us in users | orderBy:'name'"></app-user>-->
	<!--div [ngSwitch]="users?.active">
  <app-user *ngSwitchCase="'true'"    ></app-user-->
	<!--app-user *ngFor="let u of (users | search:searchStr ) " [user]="u"  ></app-user-->


	<!--вывод страницы users-->

	<p *appUnless="condition" class="unless a">
		<app-user *ngFor="let u of (users | search:searchStr | active) " [user]="u"></app-user>

	</p>

	<p *appUnless="!condition" class="unless b">

		<app-user *ngFor="let u of (users | search:searchStr | orderBy1 | active ) " [user]="u"></app-user>

	</p>
	<p *appUnles="!cond" class="if d">
		<app-user *ngFor="let u of (users | search:searchStr  ) " [user]="u"></app-user>
	</p>



</div>
<select style="width: 3%;" [id]="123" class="browser-default" [(ngModel)]="selectedEmployee" (ngModelChange)="employeeSelected($event)">
  <option selected="selected"  [value]="100">Все </option>
  <option *ngFor="let g of coll" [value]="g.nomer">{{g.nomer}}</option>
  <!--option *ngFor="let g of coll" [ngValue]="g">{{g.nomer}}</option-->
  <!--app-pagination goPage)="goToPage($event)"
                  (goNext)="onNext()"
                  (goPrev)="onPrev()"
                  [pagesToShow]="3"
                  [page]="page"
                  [perPage]="limit"
                  [count]="total"></app-pagination-->

</select>
